<article class="git" id="ukk">

  <h1>1. THE GIT</h1>

  <p>
    <a href="https://git-scm.com/book/uk/v2" target="_blank" rel="noopener noreferrer">
      <img src="images/git.png" alt="" width="220" />THE GIT
    </a>
    is must have for you
  </p>
  <p>
    Три стани: збережений у коміті (commited), змінений (modified), індексований (staged):
    • Збережений у коміті означає, що дані безпечно збережено в локальній базі
    даних.
    • Змінений означає, що у файл внесено редагування, які ще не збережено в базі
    даних.
    • Індексований стан виникає тоді, коли ви позначаєте змінений файл у поточній
    версії, щоб ці зміни ввійшли до наступного знімку коміту.
    З цього випливають три основні частини проекту під управлінням Git: директорія
    Git, робоче дерево та індекс.
  </p>
  <div class="background"></div>
</article>